infra/n8n/workflows/content-calendar.json
{
  "name": "Vectis Content Calendar",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "content-calendar",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 0]
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body;\n\nconst required = ['niche', 'title', 'description'];\nconst missing = required.filter(f => !body[f]);\n\nif (missing.length > 0) {\n  return [{ json: { valid: false, error: `Missing fields: ${missing.join(', ')}` } }];\n}\n\nconst validNiches = ['tech-explainer', 'finance-education'];\nif (!validNiches.includes(body.niche)) {\n  return [{ json: { valid: false, error: `Invalid niche. Must be one of: ${validNiches.join(', ')}` } }];\n}\n\nreturn [{ json: { valid: true, ...body } }];"
      },
      "id": "validate",
      "name": "Validate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [220, 0]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.valid }}",
              "value2": true
            }
          ]
        }
      },
      "id": "is-valid",
      "name": "Is Valid?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [440, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.VECTIS_API_URL }}/ideate",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [{ "name": "x-api-key", "value": "={{ $env.VECTIS_API_KEY }}" }]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"niche\": \"{{ $json.niche }}\", \"title\": \"{{ $json.title }}\", \"description\": \"{{ $json.description }}\" }",
        "options": { "timeout": 30000 }
      },
      "id": "store-topic",
      "name": "Store Topic",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [660, -40]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"status\": \"queued\", \"topic_id\": \"{{ $json.topic_id }}\" }",
        "options": { "responseCode": 201 }
      },
      "id": "success-response",
      "name": "Success Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [880, -40]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"error\": \"{{ $json.error }}\" }",
        "options": { "responseCode": 400 }
      },
      "id": "error-response",
      "name": "Error Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [660, 160]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{ "node": "Validate", "type": "main", "index": 0 }]]
    },
    "Validate": {
      "main": [[{ "node": "Is Valid?", "type": "main", "index": 0 }]]
    },
    "Is Valid?": {
      "main": [
        [{ "node": "Store Topic", "type": "main", "index": 0 }],
        [{ "node": "Error Response", "type": "main", "index": 0 }]
      ]
    },
    "Store Topic": {
      "main": [[{ "node": "Success Response", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [{ "name": "production" }, { "name": "content-calendar" }]
}
